#About {
  padding: 150px 0;
  @include responsive(phone) {
    padding: 100px 0;
  }
  .aboutText {
    padding: 50px 0 ;
    font-weight: 200;
    text-align: center;
    @include responsive(phone) {
      margin-top: 0;
      // padding: 0px 0 150px;
    }
    p{
      margin: 24px auto;
      max-width: 60%;
      font-size: 16px;
      line-height: 1.6;
      @include responsive(phone) {
        font-size: 14px;
        max-width: 90%;
      }
    }
    .typing-text{
      color: var(--color-lav-purple);
    }
  }
  .serviceItems{
    display: flex;
    gap: 48px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include responsive(phone) {
      flex-direction: column;
    }
    .serviceItem{
      width: calc(33.333% - 48px * 3/2);
      background-repeat: no-repeat;
      background-size: 100% 130%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 50px;
      color: var(--color-text-black);
      gap: 12px;
      position: relative;
      @include responsive(phone) {
        width: 90%;
      }
      >*{
        z-index: 1;
        position: relative;
      }
      h4{
        font-size: 16px;
        font-weight: 600;
      }
      p{
        font-size: 13px;
      }
      img{
        &.ico{
          height: 120px;
        }
        &.abs{
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          transform: scaleY(1.25);
          transform-origin: center 40px;
        }
        
      }
    }
  }
  
}

