#About {
  padding: 150px 0;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 0;
    height: 100%;
    background: url('../../../public/patter.png') center;
    background-size: 350px;
    opacity: .35;
    filter: grayscale(1);
  }
  >*{
    position: relative;
    z-index: 1;
  }
  @include responsive(phone) {
    padding: 100px 0;
  }
  .aboutText {
    padding: 50px 0 ;
    font-weight: 200;
    text-align: center;
    @include responsive(phone) {
      margin-top: 0;
      // padding: 0px 0 150px;
    }
    p{
      margin: 24px auto;
      max-width: 60%;
      font-size: 16px;
      line-height: 1.6;
      @include responsive(phone) {
        font-size: 14px;
        max-width: 90%;
      }
    }
    .typing-text{
      color: var(--color-golden-yellow);
    }
  }
  .serviceItems{
    display: flex;
    gap: 48px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include responsive(phone) {
      flex-wrap: wrap;
      gap: 24px;
      align-items: stretch;
    }
    .serviceItem{
      width: calc(33.333% - 48px * 3/2);
      background-repeat: no-repeat;
      background-size: 100% 130%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 50px;
      color: var(--color-text-black);
      gap: 12px;
      position: relative;
      overflow: hidden;
      @include responsive(phone) {
        width: calc(50% - 12px);
        padding: 16px;
        border-radius: 16px;
        background: var(--color-white);
        &:last-child{
          width: 100%;
        }
      }
      @include responsive(tablet) {
        padding: 25px 50px;
      }
      >*{
        z-index: 1;
        position: relative;
      }
      h4{
        font-size: 16px;
        font-weight: 600;
      }
      p{
        font-size: 13px;
      }
      img{
        &.ico{
          height: 120px;
        }
        &.abs{
          position: absolute;
          z-index: 0;
          height: 100%;
          width: auto;
          max-width: none;
          @include responsive(phone) {
            display: none;
          }
        }
        
      }
    }
  }
  
}

