.cpage {
  padding: 150px 0;
  .container {
    margin: auto;
  }
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 64px 0 16px;
    background: var(--color-second);
    padding: 16px 32px;
    line-height: 1.4;
    @media screen and (max-width: 991px) {
      font-size: 32px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 64px 0 16px;
    @media screen and (max-width: 991px) {
      font-size: 24px;
    }
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  b {
    font-weight: bold;
  }
  ul {
    padding-left: 15px;
    list-style: circle;
    li {
      line-height: 1.5;
    }
  }
  ul.duo {
    columns: 4;
    column-gap: 32px;
  }
  p {
    margin-bottom: 48px;
    line-height: 1.6;
  }
  p.lesmar {
    margin-bottom: 12px;
    line-height: 1.6;
  }
  .imggal {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    img {
      max-width: 100%;
    }
    .imgitem {
      flex: 0 0 calc(25% - 32px * 3 / 4);
      border: solid 1px var(--color-btn);
      padding: 8px;
      border-radius: 8px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 991px) {
        flex: 0 0 calc(33.333% - 32px * 2 / 3);
      }
      @media screen and (max-width: 600px) {
        flex: 0 0 calc(50% - 32px / 2);
      }
      p {
        padding: 10px;
        background: var(--color-btn);
        color: #fff;
        margin-top: auto;
        margin-bottom: 0;
      }
    }
  }
}
