#nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(phone) {
    top: 0;
    padding-bottom: 10px;
  }
  .container {
    display: flex;
    padding: 16px 48px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(14, 8, 45, .5);
    backdrop-filter: blur(5px);
    position: relative;
    @include responsive(phone) {
      max-width: 90%;
      flex-wrap: wrap;
      padding: 8px 32px;
      height: 80px;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
    }
    &::before {
      content: "";
      pointer-events: none;
      user-select: none;
      position: absolute;
      border-radius: 50px;
      
      inset: 0px;
      padding: 1px;
      background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05)
        );
        -webkit-mask: linear-gradient(black, black) content-box content-box,
        linear-gradient(black, black);
        -webkit-mask-composite: xor;
        
    }
    .logo {
      height: 60px;
      img {
        max-width: none;
        height: 100%;
      }
      @include responsive(phone) {
        height: 60px;
        width: auto;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      gap: 32px;
      justify-content: space-between;
      @include responsive(phone) {
        width: 100%;
        &.soci {
          padding: 96px 0 64px;
          justify-content: flex-start;
          a {
            display: block;
          }
          a,
          img {
            height: 40px;
          }
        }
      }
      li {
        a {
          color: var(--color-white);
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          position: relative;
          &.btn{
            border-radius: 50px;
            box-shadow: 0 0 6px rgba(0,0,0,.25);
            color: var(--color-dark-purple);
            @include responsive(phone) {
              height: 70px;
              padding: 0 32px;
            }
          }
        }
      }
      &.soci {
        a {
          height: 30px;
        }
      }
      &.menu {
        @include responsive(phone) {
          &.menu {
            flex-direction: column;
            padding-top: 32px;
            li {
              flex: 1;
              a {
                display: flex;
              }
            }
          }
        }
        a {
          @include responsive(phone) {
            font-size: 24px;
            font-weight: normal;
          }
          &:not(.btn)::before {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            background: var(--color-white);
            top: calc(100% + 6px);
            transition: transform 0.25s ease-out 0s;
            transform-origin: right bottom;
            transform: scaleX(0);
          }
          &:hover {
            &::before {
              transform-origin: left bottom;
              transform: scaleX(1);
            }
          }
        }
      }
    }
    #hamburger {
      display: none;
      @include responsive(phone) {
        display: block;
      }
    }
  }
  &.opened {
    .container {
      padding-top: 32px;
      height: 70vh;
      justify-content: flex-start;
    }
  }
}

$color: var(--color-white);
$animation: 500ms;
$scale: 0.75;

#hamburger {
  transform: scale($scale) translate(10px);
  margin-left: auto;
  position: relative;
  display: block;
  transition: all 0.25s;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  user-select: none;
  transform-origin: center right;
  #top,
  #bottom {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: $color;
    transform-origin: 34px 2px;
    transform: rotate(0deg);
    transition: all $animation * (2/3) cubic-bezier(0.8, -1.1, 0.5, 1.9);
  }
  #top {
    top: 19px;
    left: 14px;
  }
  #bottom {
    top: 41px;
    left: 14px;
  }

  path,
  line {
    stroke: $color;
    stroke-linecap: round;
  }
  #circle {
    stroke-dasharray: 1 100 32 300;
    stroke-dashoffset: 101;
    transition: all $animation ease;
  }

  &.is-closed {
    transform: scale(0.5) translate(10px);
    #circle {
      stroke-dasharray: 1 100 190 300;
      stroke-dashoffset: 1;
    }
    #top {
      transform: translateX(-4.5px) rotate(-45deg);
    }
    #bottom {
      transform: translateX(-4.5px) rotate(45deg);
    }
  }
}
