#Portfolio{
  padding: 150px 0 24px;
  background: var(--color-white);
  color: var(--color-text-black);
  @include responsive(phone) {
    padding: 100px 0;
  }
  .aligner{
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
      align-items: center;
      p{
        max-width: 60%;
        margin-top: 32px;
        @include responsive(phone) {
          font-size: 14px;
          max-width: 90%;
        }
      }
  }
  .slick-list{
    height: 350px;
    .slick-track{
      .slick-slide{
        padding: 0 8px;
        cursor: grab;
      }
    }
  }
}