#Portfolio{
    padding: 150px 0 24px;
    background: #fff;
    color: var(--color-text-black);
    @include responsive(phone) {
      padding: 50px 0;
    }
    .aligner{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        align-items: center;
        p{
            max-width: 60%;
            margin-top: 32px;
        }
    }
    .marquee {
        display: flex;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 20s linear infinite;
        .marquee-content {
          display: flex;
        }
        
        .marquee-image {
          width: auto; 
          height: 300px; 
          margin-right: 10px; 
        }
        
        @keyframes marquee {
          from {
            transform: translateX(0%);
          }
          to {
            transform: translateX(-100%);
          }
        }
      }

}