#team {
  padding: 0 0 100px;
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  div[data-testid="carousel"] {
    display: flex;
    align-items: center;
    @include responsive(phone) {
      padding-bottom: 50px;
    }
    button {
      background: transparent;
      border: solid 1px var(--color-dark);
      border-width: 5px 5px 0 0;
      height: 30px;
      width: 30px;
      padding: 0;
      transform: rotate(45deg);
      &[data-direction="left"] {
        transform: rotate(-135deg);
        @include responsive(phone) {
          right: 60px;
        }
      }
      @include responsive(phone) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .theSlider {
    position: relative;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    img {
      height: 300px;
      object-fit: cover;
    }
    p {
      color: var(--color-dark);
      font-size: 24px;
      margin-top: 8px;
    }
  }
}
